<table class="table">
  <caption>Default License</caption>
  <tr>
    <th scope="row">Default License Title</th>
    <td><%= current_object.default_license_title %></td>
  </tr>
  <tr>
    <th scope="row">Default License Description</th>
    <td><%= current_object.default_license_description %></td>
  </tr>
  <tr>
    <th scope="row">Default License URL</th>
    <td><%= current_object.default_license_url %></td>
  </tr>
</table>
