<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav">
	  <li>
		<%= link_to t('dul_hydra.tabs.collection_info.actions.download'), url_for(action: 'collection_info', format: 'csv') %>
	  </li>
	</ul>
  </div>
</div>

<table class="table" style="width:auto">
  <tr>
	<th scope="row">Items</th>
	<td><%= collection_report[:items] %></td>
  </tr>
  <tr>
	<th scope="row">Components</th>
	<td><%= collection_report[:components] %></td>
  </tr>
  <tr>
	<th scope="row">Total Content</th>
	<td><%= number_to_human_size collection_report[:total_file_size] %></td>
  </tr>
</table>
