<h1><%= @title %></h1>

<%= link_to "Create New Collection", new_collection_path %>

<ul>
  <% @collections.each do |collection| %>
  <li>
    <%= link_to collection.has_title? ? collection.title.first : collection.pid , collection_path(collection) %>
  </li>
  <% end %>
</ul>
