<h2>Reports</h2>

<%= form_tag report_collection_path(id: current_object, format: "csv"), method: :get do %>
  <div class="form-group">
    <input type="radio" name="type" value="techmd" checked /> Technical Metadata
  </div>
  <input type="submit" class="btn btn-primary" value="Generate Report" />
<% end %>
