<h1><%= @title %></h1>

<%= link_to " Collection List", collections_path %>

<%= render :partial => 'dul_hydra/show_summary' %>

<h2>Items</h2>
<% if @collection.items.empty? %>
  <p>
    [None]
  </p>
<% else %>
  <ul>
    <% @collection.items.each do |item| %>
    <li>
      Item <%= link_to item.pid, item_path(item) %>
    </li>
    <% end %>
  </ul>
<% end %>
