<div class="form-group">
  <label>Collection</label>
  <span class="formn-control-static"><%= link_to collection.title_display, url_for(collection) %></span>
</div>

<%= render partial: 'parent_field', locals: {label: "Part of Item"} %>

<%= hidden_field_tag "content[datastream]", 'content' %>

<%= render 'select_content_file' %>

