<% if inline %>
  <pre class="prettyprint pre-scrollable"><%= datastream.content %></pre>
  <p>
    <%= link_to "Download", {:action => 'download', :object_id => datastream.pid, :id => datastream.dsid} %>
  </p>
<% else %>
  <p>
    The datastream content is not text.  Please <%= link_to "download", {:action => 'download', :object_id => datastream.pid, :id => datastream.dsid} %>.
  </p>
<% end %>
