<h1><%= @object.pid %></h1>

<h3>Datastream: <%= @datastream.dsid %></h3>

<div class="document">
  <p>
    <%= link_to "Download Content", {:action => 'show', :object_id => @object, :id => @datastream.dsid, :download => 'true'} %>
  </p>
  <%= render :partial => 'profile_table', :locals => {:datastream => @datastream} %>
</div>
