<h1><%= @title %></h1>

<p><%= link_to "Download Content", {:action => 'content', :object_id => @object, :id => @datastream.dsid} %></p>

<h2>Datastream Profile</h2>
<dl>
  <% @datastream.profile.each do |key, value| %>
  <dt><%= key %></dt>
  <dd><%= value %></dd>
  <% end %>
</dl>

