<div id="sortAndPerPage">
   <div class="page_links">
     <%= render 'catalog/paginate_compact' %>
   </div>
    <%= render 'catalog/sort_widget' %>
    <%= render 'catalog/per_page_widget' %>
</div>
