<div id="sortAndPerPage">
   <div class="page_links">
     <%= render partial: 'children/paginate_compact', locals: {pagination_params: pagination_params} %>
   </div>
    <%= render partial: 'children/sort_widget', locals: {pagination_params: pagination_params} %>
    <%= render partial: 'children/per_page_widget', locals: {pagination_params: pagination_params} %>
</div>
