<div class="controls"<% if index == 0 %> id="additional_<%= key.to_s %>_clone"<% end %>>
  <% required = render_req && (index == 0) && f.object.required?(key) %>
  <%= text_field_tag "#{resource_instance_name}[#{key.to_s}][]", v, id: "#{resource_instance_name}_#{key.to_s}", class: "span6", required: required %>
  <% unless f.object.class.unique?(key) %>
    <%= render partial: "records/edit_fields/suffix", locals: { key: key, index: index } %>
  <% end %>
</div>
<div id="additional_<%= key %>_elements"></div>
