<div class="well well-sm form-group">
  <%= link_to "Cancel", current_object, class: "btn btn-danger pull-right" %>
  <%= form.submit class: "btn btn-primary", id: "desc-metadata-form-submit" %>
</div>
