<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <span class="navbar-brand">Insert Metadata Field</span>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <%= render 'desc_metadata_form/field_lists' %>
  </ul>
</nav>
