<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
	<span class="navbar-brand">Insert Metadata Field</span>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <%= desc_metadata_field_lists %>
  </ul>
</nav>
