<div class="row">
  <div class="span1">
    <%= render :partial => 'catalog/thumbnail', :locals => {:document => document, :thumbnail_link => fcrepo_admin.object_path(document)} %>
  </div>
  <div class="span8">
	<%= render :partial => 'catalog/index_default', :locals => {:document => document} %>
  </div>
</div>
