<nav class="navbar navbar-default" id="export-set-navbar">
	<ul class="nav navbar-nav">
	  <li>
		<%= link_to "Edit", edit_export_set_path(@export_set) %> 
	  </li>
	  <li>
		<%= link_to "Delete", {:action => 'destroy', :id => @export_set}, :method => 'delete', :data => { :confirm => "You are about to delete #{export_set_show_title}. Continue?" } %>	
	  </li>
	</ul>
</div>

