<h1>New Export Set</h1>

<% if @documents.empty? %>
  <div class="alert alert-error">
     You have no bookmarks for content-bearing objects.
  </div>
<% else %>
  <%= form_for @export_set do |f| %>
    <%= render :partial => 'title_field', :locals => {:f => f} %>
    <div class="alert alert-info" style="width: 30em">
	  Select content-bearing objects from your bookmarks to export:
	</div>
	<%= render :partial => 'object_metadata', :locals => {:documents => @documents,} %>
	<div>
	  <%= f.submit :id => 'export_set_submit_button', :class => "btn btn-primary" %>
	</div>
  <% end %>
<% end %>
