<% content_for :form_top do %>
  <%= hidden_field_tag "attach_to", attach_to.pid %>
  <div class="form-group">
	<label class="control-label">Attach To <%= attach_to.class.to_s %> <%= attach_to.pid %></label>
	<p class="form-control-static">
	  <%= link_to attach_to.title_display, url_for(attach_to) %>
	<p>
  </div>
<% end %>
