<%= form_for resource, url: record_form_action_url(resource), html: {role: "form", class: "editor"} do |f| %>
<div id="descriptions_display">
  <div class="well">
    <% f.object.terms_for_editing.each do |term| %>
	<div class="form-group">
      <%= render partial: "records/edit_field", locals: {f: f, render_req: true, key: term } %>
	</div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: "btn btn-primary" %>
    <%= cancel_button return_to: url_for(action: "show", tab: "descriptive_metadata") %>
  </div>
</div>
<% end %>
