<ul class="unstyled">
  <% inherited_entities.each do |e| %>
  <li>
	<% if type == "group" -%>
  	  <%= group_icon e %> <small><%= group_display_name e %></small>
	<% else -%>
	  <%= user_icon %> <small><%= e %></small>
	<% end -%>
  </li>
  <% end %>
</ul>
