<h4>Edit Permissions</h4>

<% if current_object.has_admin_policy? %>
  <div class="alert alert">
	<p>
	  <strong>Important</strong><br />
	  Permissions inherited from the admin policy <%= link_to current_object.admin_policy_id, object_path(current_object.admin_policy_id) %> are listed beneath the access control select boxes. Permissions granted on this page are <strong>added to</strong> the inherited permissions when authorizing access.
	  </p>
  </div>
<% end %>

<% if current_object.is_a?(AdminPolicy) %>
  <%= render 'admin_policies/permissions_alert' %>
<% end %>

<%= render partial: 'form', locals: {default_permissions: false} %>
