AdminPolicy:
  create: admin_policy_creators
Collection:
  create: collection_creators
Item:
  create: item_creators
Component:
  download: component_download
  create: component_creators
Attachment:
  create: attachment_creators
