# YAML content should be a list of hashes, each of which should
# consist of attributes that can be passed to the AdminPolicy
# constructor.  Be sure to use the symbol syntax for hash keys.
#
# Example:
#
- :pid: 'duke-apo:sample'
  :title: AdminPolicy governing objects associated with the sample collection
  :permissions:
    - :type: group
      :name: registered
      :access: read
  :default_permissions:
    - :type: group
      :name: registered
      :access: read
  :default_license_title: Copyright and Use
  :default_license_description: The materials in this collection are made available ...
  