config:
    file_model: Model
    target_model: TargetModel
    file_creators:
        ABC: Alpha Bravo Charlie
files:
    mount_points:
        base_folder: /mnt/point/
    permissions:
        user_user_key:
            - base_folder/base_subfolder/
