config:
    file_model: TestChild
    target_model: Target
    target_folder: targets
    file_creators:
        ABC: Alpha Bravo Charlie
files:
    mount_points:
        base_folder: /mnt/point/
    permissions:
        user_user_key:
            - base_folder/base_subfolder/
