log4r_config:
    loggers:
        - name      : batch_processor
          level     : INFO
          trace     : 'false'
          outputters:
            - stdout
            - logfile
    outputters:
        - type      : StdoutOutputter
          name      : stdout
          level     : DEBUG
          formatter :
            date_pattern: '%F %T.%L'
            pattern     : '%d %l: %m'
            type        : PatternFormatter
        - type        : FileOutputter
          name        : logfile
          trunc       : 'false'
          filename    : "#{FILENAME}"
          formatter   :
            date_pattern: '%F %T.%L'
            pattern     : '%d %l: %m'
            type        : PatternFormatter
