log4r_config:
    loggers:
        - name      : fixity_check
          level     : INFO
          trace     : 'false'
          outputters:
            - stderr
            - logfile
    outputters:
        - type      : StderrOutputter
          name      : stderr
          level     : DEBUG
          formatter :
            date_pattern: '%F %T.%L'
            pattern     : '%d %l: %m'
            type        : PatternFormatter
        - type        : DateFileOutputter
          name        : logfile
          trunc       : 'false'
          dirname     : "#{HOME}/log"
          filename    : fixity_check.log
          formatter   :
            date_pattern: '%F %T.%L'
            pattern     : '%d %l: %m'
            type        : PatternFormatter
