repositoryReader:
  - repositoryReader1@nowhere.org
  - repositoryReader2@nowhere.org
repositoryEditor:
  - repositoryEditor1@nowhere.org
  - repositoryEditor2@nowhere.org
repositoryAdmin:
  - repositoryAdmin1@nowhere.org
  - repositoryAdmin2@nowhere.org