:basepaths:
  - /path/to/base/folder1/
  - /path/to/base/folder2/
:scanner:
    :exclude:
        - .DS_Store
        - Thumbs.db
        - metadata.txt
    :targets: dpc_targets
    :intermediate_files: intermediate_files
:metadata:
    :csv:
        :encoding: UTF-8
        :headers: true
        :col_sep: "\t"
