<% id = event_outcome_detail_note_id(pe) -%>
<div id="<%= id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%= id %>-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="<%= id %>-label">Event Outcome Detail Note</h3>
  </div>
  <div class="modal-body">
	<%= simple_format pe.event_outcome_detail_note %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">x</button>
  </div>
</div>
