<table class="table table-condensed">
  <thead>
	<tr>
	  <th scope="col">Datastream</th>
	  <th scope="col">Checksum Valid</th>
	</tr>
  </thead>
  <tbody>
	<% detail.each do |dsid, outcome| -%>
	<tr>
	  <td><%= dsid %></td>
	  <td><%= outcome["dsChecksumValid"] %></td>
	</tr>
	<% end -%>
  </tbody>
</table>

