<h1><%= @title %></h1>

<div class="pagination">
  <%= render_pagination_info @response %>
</div>

<ul>
  <% @document_list.each do |doc| %>
  <li>
    <%= link_to doc.id, catalog_path(doc.id) %>
  </li>
  <% end %>
</ul>

<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>
