<h1><%= @title %></h1>

<ul>
  <% @object.datastreams.each do |dsid, ds| %>
  <li>
    <%=
       link_to_unless ds.profile.empty?, dsid, { :action => 'datastream', :id => @object, :dsid => dsid } do |name|
         name
       end
    %>
  </li>
  <% end %>
</ul>

