<% # container for a single doc -%>
<div class="document <%= render_document_class document %>">      
  <%= render :partial => 'catalog/document_header', :locals => {:document => document, :document_counter => document_counter} %>
  <div class="row">
    <div class="span1">
      <%= render :partial => 'catalog/thumbnail', :locals => {:document => document, :thumbnail_link => fcrepo_admin.object_path(document)} %>
    </div>
    <div class="span8">
	  <%= render :partial => 'catalog/index_default', :locals => {:document => document} %>
    </div>
  </div>
</div>
