<h3><%= t('blacklight.welcome') %></h3>
<p>
  Browse content:
  <ul>
    <li><%= link_to "Collections", collections_path %></li>
    <li><%= link_to "Items", items_path %></li>
    <li><%= link_to "Components", components_path %></li>
  </ul>
</p>
