<%= content_tag :div do %>
  <%= content_tag :strong, I18n.t('dul_hydra.inheritable_rights') %>
<% end %>
<table class="table" style="width:auto">
  <thead>
	<tr>
	  <th scope="col">User/Group</th>
	  <th scope="col">Permission</th>
	</tr>
  </thead>
  <tbody>
	<% inheritable_permissions.each do |perm| %>
	<tr>
	  <td>
		<i class="icon-user"></i><% if perm[:type] == "group" %><i class="icon-user"></i><% end %>
		<%= perm[:name] %>
	  </td>
	  <td>
		<%= perm[:access] %>
		<% if perm[:inherited] %>(inherited)<% end %>
	  </td>
	</tr>
	<% end %>
  </tbody>
</table>
