<% if @document.has_content? %>
  <div class="row">
	<div class="well span2 text-center">
	  <div>
		<%= link_to "Download", download_path(@document.id), :class => "btn btn-primary" %>
	  </div>
	  <div class="muted">
		<small>
		<%= @document.mime_type %>
		<%= number_to_human_size @document.size %>
		</small>
	  </div>
	</div>
  </div>
  <% else %>
  <div class="alert">
	This object has no content.
  </div>
<% end %>
