<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  Status
	</li>
	<li>
	  <table class="table table-condensed">
		<tr>
		  <th scope="row">State:</th>
		  <td><%= render_object_state %></td>
		</tr>
		<tr>
		  <th scope="row">Created:</th>
		  <td><%= @document.object_create_date.to_formatted_s(:db) %></td>
		</tr>
		<tr>
		  <th scope="row">Modified:</th>
		  <td><%= @document.object_modified_date.to_formatted_s(:db) %></td>
		</tr>
	  </table>
	</li>
  </ul>
</div>
