<% if breadcrumbs.size > 1 -%>
<ul id="show-breadcrumbs" class="breadcrumb">
  <% while breadcrumbs.size > 0 -%>
    <% crumb = breadcrumbs.pop %>
	<% if breadcrumbs.empty? -%>
      <li class="active">
		<%= render_breadcrumb(crumb) %>
	  </li> 
	<% else -%>
      <li>
	    <%= link_to render_breadcrumb(crumb), catalog_path(crumb.id) %> <span class="divider">/</span>
	  </li>
	<% end -%>
  <% end -%>
</ul>
<% end -%>
