<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  More Information
	</li>
	<li>
	  Metadata
	</li>
	<li>
	  <%= link_to "Admin View", fcrepo_admin.object_path(@document.id) %>
	</li>
  </ul>
</div>
