<div id="document" class="<%= render_document_class %>">
  <div id="doc_<%= document.id.to_s.parameterize %>">
  
    <% # bookmark/folder functions -%>
    <%= render_document_heading(:h1).html_safe %>

    <div class="document">
	  <%= render_document_partial document, :show %>
    </div>
 
  </div>
</div>
