<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">Collection Stats</li>
	<li>
	  <table class="table table-condensed">
		<tr>
		  <th scope="row">Items:</th>
		  <td><%= @response.total %></td>
		</tr>
		<tr>
		  <th scope="row">Components:</th>
		  <td>TODO</td>
		</tr>
		<tr>
		  <th scope="row">Total File Size</th>
		  <td>TODO</td>
		</tr>
	  </table>
	</li>
  </ul>
</div>

