<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  Collection Information
	</li>
	<li>
	  Items: <strong><%= document.children_count %></strong>
	</li>
	<li>
	  Components: <strong>TODO</strong>
	</li>
	<li id="collection-total-file-size">
	  Total File Size: <strong>TODO</strong>
	</li>
  </ul>
</div>

