<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t('dul_hydra.object_tabs.main') %></a></li>
    <li><a href="#tab2" data-toggle="tab"><%= t('dul_hydra.object_tabs.metadata') %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	  <%= render_document_partial @document, controller.action_name %>	  
    </div>
    <div class="tab-pane" id="tab2">
	  <%= render 'show_metadata' %>
    </div>
  </div>
</div>
