<div class="well" id="sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Tools</li>
    <li>
	  <%= render_show_doc_actions @document %>
	  <%#= render :partial => 'bookmark_control', :locals => {:document => @document} %>
    </li>
  </ul>
</div>
