<ul class="thumbnails">
  <li class="span1">
    <div class="thumbnail" style="position:relative">
      <img data-src="holder.js/100x80" style="width:100px;height:80px" alt=""/>
	  <div style="position:absolute;top:33px;z-index:10;text-align:center;left:8px;"><small class="muted">No Image</small></div>
    </div>
  </li>
</ul>
