<h1><%= @title %></h1>

<div class="document">
  <p>
    <%= link_to "Download Content", {:action => 'datastream_content', :object_id => @object, :id => @datastream.dsid} %>
  </p>
  <dl class="dl-horizontal dl-invert">
    <% @datastream.profile.each do |key, value| %>
    <dt><%= key %>:</dt>
    <dd>
      <% if value.blank? %>&nbsp;<% else %><%= value %><% end %>
    </dd>
    <% end %>
  </dl>
</div>
