<h1><%= @title %></h1>

<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>

<ul>
  <% @document_list.each do |doc| %>
  <li>
    <%= link_to "#{doc.active_fedora_model} #{doc.id}", catalog_path(doc.id) %>
  </li>
  <% end %>
</ul>
