<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active">
	  <a href="#tab1" data-toggle="tab"><%= render_default_show_tab_label %></a>
	</li>
    <li>
	  <a href="#tab2" data-toggle="tab">Metadata</a>
	</li>
	<li>
	  <a href="#tab3" data-toggle="tab">Permissions</a>
	</li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	  <%= render_default_show_tab_content %>
    </div>
    <div class="tab-pane" id="tab2">
	  <%= render 'show_metadata' %>
    </div>
    <div class="tab-pane" id="tab3">
	  <%= render 'show_permissions' %>
    </div>
  </div>
</div>

