<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
	<% show_tabs.each do |tab| -%>
	  <%= render_show_tab tab %>
	<% end -%>
  </ul>
  <div class="tab-content">
	<% show_tabs.each do |tab| -%>
	  <%= render_show_tab_content tab %>
	<% end -%>
  </div>
</div>

