<h3>Metadata Update File</h3>

<%= @metadata_file.metadata %>

<%= @metadata_file.options %>

<%= link_to I18n.t('batch.metadata_file.create_batch'), procezz_metadata_file_path(@metadata_file), :class => "btn btn-primary" %>
