<% content_for :form_top do %>
  <%= hidden_field_tag "parent", parent.pid %>
  <div class="form-group">
	<label class="control-label">Add to Collection <%= parent.pid %></label>
	<p class="form-control-static">
	  <%= link_to parent.title.first, url_for(parent) %>
	</p>
  </div>
<% end %>

