<%= render partial: 'parent_field', locals: {label: "Member of Collection"} %>
<%= render 'title_field' %>
<h4>
  <span class="glyphicon glyphicon-plus"></span> 
  Component 
  <small>Optional</small>
</h4>

<p class="text-muted">
  You can also add (more) components to the new item later.
</p>

<%= render 'select_content_file' %>
