<div class="form-group">
  <%= label_tag :parent_id, "Member of Collection" %>
  <%= link_to parent.title_display, url_for(parent) %>
  <%= text_field_tag :parent_id, parent.pid, readonly: "readonly", class: "form-control" %>
</div>  
