<div class="panel panel-default">
  <div class="panel-heading">
	<strong><%= link_to_unless_current I18n.t('batch.web.page_titles.batches'), batches_path %></strong>
  </div>
  <div class="list-group">
	<% if can? :create, IngestFolder %>
    	<div class="list-group-item"><%= ingest_folder_create_link %></div>
	<% end %>
	<% if can? :create, MetadataFile %>
		<div class="list-group-item"><%= new_metadata_file_link %></div>
	<% end %>
  </div>
</div>
