#header-navbar-fixed-top .brand { /* BL override */
	background-image: url(/assets/dul_hydra/ddr_logo.png);
	min-height: 42px;
	min-width: 200px;
	padding-bottom: 0;
}
form.bookmark_toggle {
	display: inline;
}
