.navbar-fixed-top .brand { /* BL override */
	background-image: url(/assets/dul_hydra/logo_wide.png);
	min-height: 42px;
	min-width: 200px;
	padding-bottom: 0;
}
form.bookmark_toggle {
	display: inline;
}
#show-breadcrumbs {
	font-size: smaller;
}