#header-navbar-fixed-top .brand { /* BL override */
	background-image: url(/assets/dul_hydra/ddr_logo.png);
	min-height: 42px;
	min-width: 200px;
	padding-bottom: 0;
}
form.bookmark_toggle {
	display: inline;
}
.permissions-form legend {
	margin: 1em 0 0 0;
	font-size: medium;
	border-bottom: none;
}
.permissions-form fieldset {
	margin-bottom: 1em;
}
.permissions-form legend {
	font-size: small;
	margin: 0;
}
.permissions-form .access-level {
	font-weight: bold;
	text-transform: uppercase;
}
.permissions-form .access-level-description {
	font-weight: normal;
}
.permissions-form .access-level-description:before {
	content: " - "
}