<h4>Access Controls</h4>
<table class="table" style="width:auto">
  <thead>
	<tr>
	  <th scope="col">Permission</th>
	  <th scope="col">Granted To</th>
	</tr>
  </thead>
  <tbody>
	<% grants.keys.each do |perm| %>
	<tr>
	  <td>
		<%= perm.to_s.capitalize %>
	  </td>
	  <td>
		<% if grants[perm].empty? -%>
		-
		<% else %>
		<ul class="unstyled" style="margin:0">
		  <% grants[perm].each do |g| %>
		  <li>
			<%= permission_icon g %> <%= permission_name g %>
		  </li>
		  <% end %>
		</ul>
		<% end %>
	  <td>
	</tr>
	<% end %>
  </tbody>
</table>
