<h4>Access Controls</h4>
<table class="table" style="width:auto">
  <thead>
	<tr>
	  <th scope="col">User/Group</th>
	  <th scope="col">Permission</th>
	</tr>
  </thead>
  <tbody>
	<% permissions.each do |perm| %>
	<tr>
	  <td>
		<%= permission_icon perm %>
		<%= permission_name perm %>
	  </td>
	  <td>
		<%= perm[:access] %>
		<% if perm[:inherited] %><span class="muted">(inherited)</span><% end %>
	  </td>
	</tr>
	<% end %>
  </tbody>
</table>
