<h4>Default Access Controls</h4>

<table class="table access-controls">
  <thead>
	<tr>
	  <th scope="col">Permission</th>
	  <th scope="col">Granted To</th>
	</tr>
  </thead>
  <tbody>
	<% all_permissions.each do |access| %>
	<tr class="access-level-<%= access %>">
	  <td class="access-level">
		<%= access %>
	  </td>
	  <td>
		<%= render_default_permission_grantees access %>
	  </td>
	</tr>
	<% end %>
  </tbody>
</table>
