<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav">
	  <% if can? :edit, current_object -%>
	    <li>
		  <%= descriptive_metadata_edit_link %>
	    </li>
	  <% end -%>
	  <% if can? :download, current_object.descMetadata -%>
	    <li>
		  <%= download_datastream_xml_link 'descMetadata' %>
	    </li>
	  <% end -%>
	</ul>
  </div>
</div>
<table class="table">
  <% current_object.descriptive_metadata_terms.each do |term| -%>
    <% label = term.to_s.titleize -%>
    <% if current_object.class.multiple?(term) -%>
      <% current_object.send(term).each do |value| -%>
        <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: value} %>
      <% end -%>
    <% else -%>
      <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: current_object.send(term)} %>
    <% end -%>
  <% end -%>
</table>
