<% if license %>
  <h4>
	<%= license[:title] || "Copyright" %> 
	<% if license[:inherited] %>(inherited)<% end %>
  </h4>
  <% if license[:description].present? %> 
    <p>
      <%= license[:description] %>
	</p>
  <% end %>
  <% if license[:url].present? %>
    <p>
	  <a href="<%= license[:url] %>"><%= license[:url] %></a>
	</p>
  <% end %>
<% end %>
