<div class="control-group">  
  <%= label_tag :admin_policy_id, "Admin Policy (required)", class: "control-label" %>
  <div class="controls">
	<%= select_tag :admin_policy_id, model_options_for_select(AdminPolicy), class: "span6", prompt: "Select an Admin Policy ...", required: true %>
  </div>
</div>
