<div class="control-group">  
  <%= label_tag :parent_id, "Collection (required)", class: "control-label" %>
  <div class="controls">
	<%= select_tag :parent_id, model_options_for_select(Collection, :add_children), class: "span6", prompt: "Add to Collection ...", required: true %>
  </div>
</div>
