<% unless tab.authorized_actions.empty? -%>
<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav">
	  <% tab.authorized_actions.each do |action| -%>
	  <li>
		<%= link_to t("dul_hydra.tabs.#{tab.id}.actions.#{action.id}"), action.href %>
	  </li>
	  <% end -%>
	</ul>
  </div>
</div>
<% end -%>
