<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav">
	  <li>
		<%= link_to "Download CSV Report", collection_info_object_path(current_object, format: 'csv') %>
	  </li>
	</ul>
  </div>
</div>
<table class="table" style="width:auto">
  <tr>
	<th scope="row">Items</th>
	<td><%= @report[:items] %></td>
  </tr>
  <tr>
	<th scope="row">Components</th>
	<td><%= @report[:components] %></td>
  </tr>
  <tr>
	<th scope="row">Total Content</th>
	<td><%= number_to_human_size @report[:total_file_size] %></td>
  </tr>
</table>
