<table class="table">
  <% admin_metadata_fields.each do |field| %>
    <% current_object.adminMetadata.values(field).each do |value| %>
      <tr>
	<th scope="row">
	  <%= t("dul_hydra.admin_metadata.#{field}", default: field.to_s.titleize) %>
	</th>
	<td>      
          <%= value %>
	</td>
      </tr>
    <% end %>
  <% end %>
</table>
