<table class="table">
  <tr>
    <th scope="row">Local ID</th>
    <td><%= current_object.local_id %></td>
  </tr>
  <tr>
    <th scope="row">Display Format</th>
    <td><%= current_object.display_format %></td>
  </tr>
</table>
