<% if create_menu_models.present? %>
<div class="btn-group pull-right" style="margin-left: 1em">
  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
	New
	<span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
	<% create_menu_models.each do |model| %>
	<li>
	  <%= link_to_create_model model %>
	</li>
	<% end %>
  </ul>
</div>
<% end %>
