<%= render partial: 'tab_actions', locals: {tab: tab} %>

<% if current_object.has_desc_metadata? %>
  <table class="table">
  <% current_object.desc_metadata_terms.each do |term| %>
    <% label = term.to_s.titleize %>
    <% current_object.desc_metadata_values(term).each do |value| %>
      <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: value} %>
    <% end %>
  <% end %>
  </table>
<% else %>
  <p class="alert alert-warning">
	This object has no descriptive metadata.
  </p>
<% end %>
