<div class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
  <%#= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
  <%= render partial: 'catalog/index_header_default', locals: {document: document, document_counter: document_counter} %>
  <%= render partial: 'catalog/index_default', locals: {document: document} %>
</div>
