<ul class="list-unstyled">
  <li>
	<%= render_document_model_and_id document %>
  </li>
  <% if document.identifier %>
    <li class="small">
  	  <%= document.identifier %>
    </li>
  <% end %>
  <% if document.has_content? %>
    <li class="small">
      <%= render partial: 'document_content', locals: {document: document} %>
    </li>
  <% end %>
</ul>
