<li class="list-group-item list-group-item-<%= current_document.last_fixity_check_outcome == 'success' ? 'success' : 'danger' %>">
  <span class="pull-right"><%= format_date current_document.last_fixity_check_on %></span>
  Fixity Checked
</li>
