<table class="table">
  <caption>License</caption>
  <tr>
    <th scope="row">License Title</th>
    <td><%= current_object.license_title %></td>
  </tr>
  <tr>
    <th scope="row">License Description</th>
    <td><%= current_object.license_description %></td>
  </tr>
  <tr>
    <th scope="row">License URL</th>
    <td><%= current_object.license_url %></td>    
  </tr>
</table>
