<h5>
  <%= license[:title] || "Copyright" %> 
</h5>
<% if license[:description].present? %> 
  <p>
    <%= license[:description] %>
  </p>
<% end %>
<% if license[:url].present? %>
  <p>
	<%= link_to license[:url], license[:url] %>
  </p>
<% end %>
