<% if new_object.errors.any? %>
  <div class="alert alert-danger">
	<p>
	  <strong>A new <%= new_object.class.to_s %> could not be created due to the following errors:</strong>
	</p>
	<ul>
	  <% new_object.errors.full_messages.each do |message| %>
	    <li><%= message %></li>
	  <% end %>
	</ul>
  </div>
<% end %>
