<li class="list-group-item<% if status %> list-group-item-<%= status %><% end %>">
  <% if value %><span class="pull-right"><%= value %></span><% end %>
  <%= t("dul_hydra.object_info.#{label}") %>
</li>
