<% if grantees[:users].empty? and grantees[:groups].empty? -%>
-
<% else -%>
<ul class="unstyled">
  <% grantees[:groups].each do |group| -%>
  <li>
	<%= group_icon group %> <%= group_display_name group %>
  </li>
  <% end -%>
  <% grantees[:users].each do |user| -%>
  <li>
	<%= user_icon %> <%= user %>
  </li>
  <% end -%>
</ul>
<% end -%>
