<% if current_object.has_admin_policy? %>
  <p>
	<%= (t('dul_hydra.tabs.permissions.alerts.has_admin_policy') % link_to(current_object.admin_policy_id, url_for(current_object.admin_policy))).html_safe %>
  </p>
<% end %>

<% if current_object.is_a?(AdminPolicy) %>
  <p>
    <%= t('dul_hydra.tabs.permissions.alerts.is_admin_policy').html_safe %>  
  </p>
<% end %>
