<div class="file-upload">
  <%= label_tag "content" %>
  <%= file_field_tag "content", required: true %>
  <%= label_tag "checksum", "SHA-256 Checksum (will require match if provided)" %>
  <%= text_field_tag "checksum" %>
</div>
