<%# Copied from Blacklight partial catalog/sort_and_per_page %>
<div id="sortAndPerPage">
  <div class="page_links">
    <%= render :partial => "catalog/paginate_compact" %>
  </div>
  <%= render :partial => 'catalog/sort_widget' %>
  <%= render :partial => 'catalog/per_page_widget' %>
</div>
