<div class="well well-small" id="sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Tools</li>
    <li>
	  <%= render_show_doc_actions current_document %>
    </li>
	<% if can? :add_attachment, current_object %>
	  <li>
		<%= link_to "Add Attachment", new_attachment_path(current_object) %>
	  </li>
	<% end %>
  </ul>
</div>
