<%= render partial: 'tab_actions', locals: {tab: tab} %>

<% if current_object.has_versions? %>
  <table class="table table-striped">
    <thead>
      <tr>
	<th scope="col">Version</th>
	<th scope="col">Label</th>
	<th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% current_object.versions.all.each_with_index do |version, idx| %>
      <tr>
	<td><%= idx + 1 %></td>
	<td><%= version.label %></td>
	<td><%= version.created %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    This object has no versions.
  </p>
<% end %>
