<% content_for :main_content do %>
<div class="col-md-9">
  <%= yield %>
</div>
<div class="col-md-3">
  <%= render 'batches_sidebar' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
