<% content_for :main_content do %>
<div class="span9">
	<div>
  		<%= yield %>
	</div>
</div>
<div class="span3">
  <%= render 'batches_sidebar' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
